html
    head
    title Rodrigo Martins | Desenvolvedor Web
    link(rel="stylesheet",href="css/app.css")
    body
        div.container
            section#header
                div#title
                    h1 Rodrigo
                        span Martins
                    p Desenvolvedor Web | Wordpress