@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans:700');
@import "colors";

.container
{
    @include grid-row-size(100%);
}

#backvideo
{
    @include grid-column(12,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


#header
{
    @include grid-column(12);
    height: 680px;
    background-color:  $color-first-alpha;
    z-index: 2;

    //menu top

    #menu-header
    {
        @include grid-column(1);
        height: auto;
        ul
        {
            @include menu-base();
            a
            {
                color: $color-third;
                &:hover
                {
                    color: $color-second;
                }
            }
        }
    }

    //titilo da pagina

    #title
    {
        @include grid-column(12);
        height: auto;
        text-align: center;
        margin-top:18%;
    }
    h1
    {
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        color: $color-third;
        line-height: 45px;
        span
        {
            color: $color-second;
        }
    }
    p
    {

        font-family: 'Libre Baskerville', serif;
        color: $color-third;
        letter-spacing: 2px;
    }

    #social-header
    {
        @include grid-column(4);
        height: auto;
        margin-top: 18%;
        float:left !important;

        ul
        {
            @include menu-base;
            a
            {
                color: $color-third;
                font-size: 20px;
                &:hover
                {
                    color: $color-second;
                }
            }
        }
    }
}